<form class="ui form">
  <div class="field">
    {{input type="text" name="title" placeholder="Title" value=resource.title class="title"}}
  </div>
  <div class="field">
    {{textarea id="body" name="body" placeholder="Proposal" value=resource.body}}
  </div>
  {{#if resource.isNew}}
    <button class="ui button" type="submit" {{action "save"}}>Save</button>
  {{else}}
    <button class="ui button" type="submit" {{action "edit"}}>Update</button>
  {{/if}}
</form>
