<p>Proposal:</p>

<p>{{proposal.title}} (supports: {{proposal.support-count}})</p>

<p>{{support-button proposal=proposal}}</p>

<p>{{delegate-select proposal=proposal}}</p>

<p>{{proposal.body}}</p>

