<div class="ui main text container">
  <div class="ui header">{{proposal.title}}</div>
  <div class="ui">By {{proposal.author.name}}:</div>
  <div class="extra content">
    {{
      support-button
      proposal=proposal
    }}
  </div>
  <div class="extra content">
    {{
      support-delegation-dropdown
      proposal=proposal
    }}
  </div>
  <div class="content">
    <div>{{proposal.body}}</div>
  </div>
</div>
