<div class="ui main text container">
  <div class="ui header">{{model.proposal.title}}</div>
  <div class="ui">By {{model.proposal.author.name}}:</div>
  <div class="extra content">
    {{
      support-button
      proposal=model.proposal
      author=model.me
    }}
  </div>
  <div class="extra content">
    {{
      support-delegation-dropdown
      proposal=model.proposal
      author=model.me
    }}
  </div>
  <div class="content">
    <div>{{model.proposal.body}}</div>
  </div>
</div>
